# Python Requirements.txt file to install all required python modules for the Application
# sudo pip install -r requirements.txt

Flask
Flask-SQLAlchemy
Flask-login
Flask-Mail
Flask-RESTful
sqlalchemy-migrate
pylint
selenium
werkzeug
coverage
uwsgi
mysqlclient
#newrelic
